aside {
  width: 25%;
  height: 95%;

  min-width: 300px;

  border-radius: 20px;
  margin-right: 15px;
  background-color: #525252;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1023px) {
    width: 90%;
    gap: 1.5rem;

    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  #delivery {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #6d6d6d;
    width: 90%;
    height: 80px;
    padding: 1rem 0.8rem;

    border-radius: 10px;

    font-size: 0.7rem;
    color: #fff;

    @media (max-width: 1023px) {
      min-height: 7.5rem;
    }

    input {
      color: #fff;
      padding: 5px 0;
      padding-left: 0.65rem;
      border-radius: 50px;
      width: 67%;
      background-color: #525252;

      @media (max-width: 1025px) {
        margin-left: 5px;
        margin-bottom: 10px;
        width: 80%;
      }
    }

    button {
      border-radius: 50px;
      padding: 5px;
      font-size: 12px;
      color: #fff;
      background-color: #1d1d1d;

      @media (max-width: 1025px) {
        /* padding: 5px 10%; */
      }
    }

    p {
      font-size: 0.75rem;
    }
  }

  #order {
    width: 90%;
    height: 45%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

    /* background-color: red; */

    #cart_title {
      width: 100%;
      height: 2rem;
      /* background-color: green; */

      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      padding-bottom: 0.2rem;
      color: #fff;

      h2 {
        font-size: 1.1rem;
      }

      p {
        font-size: 0.7rem;
        border: 1px solid #ee5d55;
        border-radius: 1rem;
        padding: 0.3rem 0.6rem;
      }
    }

    #order_type {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 2px solid #6f6f6f;
      border-radius: 50px;

      @media (max-width: 1023px) {
        justify-content: space-around;
      }

      li {
        font-size: 0.75rem;
        padding: 0.7rem 0.8rem;

        button {
          background-color: transparent;
          color: #fff;
        }
      }

      .selected {
        border-radius: 50px;
        background-color: #ff0000;
      }
    }

    #order_items_list {
      width: 100%;
      height: 14rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: relative;

      padding-top: 1rem;
      border-bottom: 1px dashed #000;

      /* background-color: green; */

      /* & :hover {
          background-color: red;
        } */

      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: #313131 #525252;

      @media (max-width: 1023px) {
        height: 8rem;
        border-bottom: none;
      }

      .order_item {
        width: 95%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid #6f6f6f;
        padding-bottom: 1rem;
        /* background-color: blue; */

        @media (max-width: 1023px) {
          justify-content: space-around;
        }

        color: #fff;

        &:hover {
          border-bottom: 1px solid #ee5d55;
        }

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          /*object-fit: cover; */
        }

        button {
          padding: 0.4rem 0.8rem;
          border-radius: 40px;
        }

        .item_description {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          /* background-color: green; */
          text-align: center;

          h3 {
            font-size: 0.8rem;
            font-weight: 400;
          }

          p {
            font-size: 0.7rem;
            font-weight: 400;
          }
        }
      }
    }
    #circle_decoration_left {
      width: 30px;
      height: 30px;

      position: absolute;
      bottom: 26px;
      left: -27px;
      border-radius: 50%;
      background-color: #1d1d1d;

      @media (max-width: 1023px) {
        display: none;
      }
    }

    #circle_decoration_right {
      width: 30px;
      height: 30px;

      position: absolute;
      bottom: 26px;
      right: -27px;
      border-radius: 50%;
      background-color: #1d1d1d;

      @media (max-width: 1023px) {
        display: none;
      }
    }

    #promotion_code {
      width: 100%;
      height: 1.7rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-radius: 40px;
      box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2) inset;

      /* background-color: blue; */

      input {
        width: 60%;
        height: 100%;
        color: #fff;

        border-radius: 40px;
        padding-left: 1.2rem;

        background-color: transparent;


      }

      ::placeholder {
        color: #fff;
        font-size: 0.7rem;
      }

      button {
        font-size: 0.6rem;
        color: #fff;
        padding: 0.3rem 1.35rem;
        border-radius: 40px;
        margin-right: 0.2rem;
        background-color: #1d1d1d;
      }
    }
  }

  #order_sumary {
    width: 90%;
    height: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    /* background-color: orange; */

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      /* background-color: red; */
      font-size: 0.7rem;
      color: #fff;
    }

    #total_container {
      height: 2rem;
      margin-top: 0.6rem;

      display: flex;
      align-items: flex-end;

      border-top: 1px solid #6f6f6f;

      font-size: 0.85rem;
      font-weight: 700;
    }
  }

  #submit_order {
    width: 90%;
    padding: 0.8rem 0;

    border-radius: 40px;
    color: #fff;
    background-color: #1d1d1d;
  }
}
