main {
  width: 54%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 0.9rem 0 0.9rem;

  @media (max-width: 1023px) {
    width: 90%;
    gap: 1.5rem;
  }

  section {
    width: 100%;

    h2 {
      color: #fff;
      font-size: 0.9rem;
    }

    p {
      font-size: 0.8rem;
      color: #fff;
    }

    span {
      color: #ee5d55;
    }
  }

  #search {
    input {
      width: 100%;
      padding: 0.6rem 1.2rem;
      border-radius: 40px;
      border: 1px solid #6f6f6f;
      background-color: transparent;
      outline: none;
      color: #fff;
    }

    button {
      padding: 0.6rem 1.3rem;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #6f6f6f;
      border: 1px solid #6f6f6f;
      position: absolute;
      right: 0;
    }
  }

  #categories {
    padding: 15px 0;
    scrollbar-width: thin;
    scrollbar-color: #313131 #1d1d1d;

    h2 {
      margin-bottom: 0.8rem;
    }

    ul {
      display: flex;
      margin-top: 1.6rem;
      overflow-y: auto;

      li {
        margin-right: 2rem;

        img {
          box-shadow: 2px 3px 6px 3px rgba(88, 88, 88, 0.75);
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          object-fit: cover;

          @media (max-width: 1023px) {
            width: 7rem;
            height: 7rem;
          }
        }

        button {
          background-color: transparent;
          border: 2px solid transparent;

          &:hover {
            border: 2px solid #ee5d55;
            border-radius: 50%;
          }
        }

        .selectedCategory {
          border: 2px solid #ee5d55;
          border-radius: 50%;
        }
      }
    }
  }

  #selected_category {
    padding: 15px 0;
    scrollbar-width: thin;
    scrollbar-color: #313131 #1d1d1d;

    h2 {
      margin-bottom: 0.8rem;
    }

    ul {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 2rem;
      overflow-y: auto;
      height: 11rem;
      border: 1px solid transparent;
      margin-top: 1.5rem;

      li {
        width: 7rem;
        min-width: 7rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        position: relative;
        padding-top: 5px;
        border-radius: 15px;
        border: 1px solid transparent;
        background-color: #313131;
        text-align: center;
        cursor: pointer;

        &:hover {
          border: 1px solid #ee5d55;
        }

        img {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          position: absolute;
          top: -66px;
          object-fit: cover;
        }

        h3 {
          font-size: 0.7rem;
          color: #fff;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  #order_reports {
    height: 4rem;

    h2 {
      margin: 1rem 0;
    }

    ul {
      height: 3rem;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: #313131 #1d1d1d;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.6rem;
      padding: 0.5rem 0rem 0.5rem 0rem;

      @media (max-width: 1023px) {
        height: 6rem;
      }

      li {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @media (max-width: 1023px) {
          gap: 0.7rem;
        }

        p {
          width: 25%;
        }

        .address {
          width: 47%;
        }
      }
    }
  }
}
